In [2]:
# Import Python libraries for data manipuation and visualization
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot

# Import the Python machine learning libraries we need
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
# Load the data set
dataset = pd.read_excel("data.xlsx")

In [4]:
# Inspect first few rows
dataset.head(12)

,SL,R1,R2,R3,R4,R5,R6,R7,R8,I1,...,E8,C1,C2,C3,C4,C5,C6,C7,C8,major
0,80,5,3,5,4,3,5,2,3,5,...,5,1,3,3,1,3,2,1,1,Realistic
1,162,4,5,5,5,3,5,4,3,3,...,4,3,4,4,2,4,4,2,3,Realistic
2,182,5,2,2,4,1,3,2,2,3,...,3,2,2,4,3,3,3,3,3,Realistic
3,212,4,4,2,4,4,4,5,4,4,...,3,4,4,5,3,4,5,4,4,Realistic
4,282,5,4,5,5,5,5,5,3,4,...,4,4,5,4,4,5,5,5,4,Realistic
5,318,3,3,1,5,4,5,4,4,2,...,4,1,5,2,1,1,3,2,2,Realistic
6,343,4,4,4,4,4,5,4,5,5,...,4,2,2,2,1,3,5,1,2,Realistic
7,356,5,3,1,1,1,1,3,3,5,...,5,4,3,2,3,5,5,3,3,Realistic
8,398,3,1,2,2,1,2,2,1,4,...,4,3,3,3,3,3,2,3,2,Realistic
9,422,2,4,2,5,1,4,3,2,5,...,2,1,3,2,2,2,4,1,2,Realistic
10,424,1,2,1,3,2,3,3,2,2,...,4,3,2,2,2,2,3,2,2,Realistic
11,661,5,5,3,5,2,3,3,3,4,...,4,3,5,5,4,5,4,5,2,Realistic

In [5]:
# Inspect data shape
dataset.shape

(36775, 50)

In [6]:
# Inspect descriptive stats
dataset.describe()

,SL,R1,R2,R3,R4,R5,R6,R7,R8,I1,...,E7,E8,C1,C2,C3,C4,C5,C6,C7,C8
count,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,...,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000,36775.000000
mean,74444.874045,2.618872,2.135228,1.769055,2.330931,1.771747,2.257865,2.038967,1.995622,3.465262,...,2.478885,2.714752,2.364432,2.422814,2.449218,2.575581,2.656179,2.738029,2.256397,2.310129
std,42099.425772,1.315058,1.222695,1.124123,1.340722,1.066608,1.268960,1.168433,1.168911,1.283806,...,1.297040,1.345290,1.268062,1.235177,1.300302,1.258761,1.377617,1.300189,1.246886,1.238774
min,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,37875.500000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000
50%,75044.000000,3.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,4.000000,...,2.000000,3.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,2.000000
75%,110998.000000,4.000000,3.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,5.000000,...,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000
max,145827.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [7]:
X=dataset.iloc[:, :-1].values
Y=dataset.iloc[:, -1:].values

In [9]:
print(X)

[[    80      5      3 ...      2      1      1]
 [   162      4      5 ...      4      2      3]
 [   182      5      2 ...      3      3      3]
 ...
 [ 88917      3      3 ...      3      2      3]
 [113727      5      4 ...      4      2      3]
 [142898      3      3 ...      1      2      4]]

In [10]:
print(Y)

[['Realistic']
 ['Realistic']
 ['Realistic']
 ...
 ['Conventional']
 ['Conventional']
 ['Conventional']]

In [12]:
X_train, X_test, Y_train, Y_test =  train_test_split(X, Y, test_size=0.25, random_state=0)

In [13]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
X_test

array([[ 1.16400815,  0.28778758, -0.11289877, ...,  0.96445946,
         1.39741908,  1.36734974],
       [ 1.02448142,  1.04742669,  0.70481681, ...,  0.19560703,
         0.59535857,  1.36734974],
       [ 0.82128968,  1.80706581,  2.34024796, ...,  1.73331189,
         1.39741908,  2.17604882],
       ...,
       [-1.01068688, -0.47185154, -0.93061434, ...,  0.96445946,
         1.39741908,  0.55865065],
       [ 1.37223045,  0.28778758, -0.93061434, ...,  0.19560703,
        -1.00876245,  0.55865065],
       [-0.64665972, -0.47185154,  0.70481681, ..., -0.5732454 ,
        -1.00876245, -0.25004843]])

In [16]:
Y_train

array([['Investigative'],
       ['Investigative'],
       ['Investigative'],
       ...,
       ['Social'],
       ['Investigative'],
       ['Realistic']], dtype=object)

In [17]:
Y_test

array([['Social'],
       ['Enterprising'],
       ['Conventional'],
       ...,
       ['Enterprising'],
       ['Investigative'],
       ['Artistic']], dtype=object)

In [18]:
# Training the Random Forest Classification model on the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, Y_train)

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [19]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [33]:
print(y_pred)

['Enterprising' 'Investigative' 'Conventional' ... 'Investigative'
 'Investigative' 'Social']

In [34]:
y_prob = classifier.predict_proba(X_test)[:, 1]

In [35]:
print(y_prob)

[0.2 0.1 0.4 ... 0.1 0.  0. ]

In [39]:
print("Accuracy is ",classifier.score(X_test,Y_test)*100,'%')

Accuracy is  48.90145747226452 %